@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #c8d8e4;
}

a {
    text-decoration: none;
    color: #52ab98;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
    font-size: 2.5em;
    background-color: #fff;
    border-bottom: 10px solid #f2f2f2;

    &__heading {
        margin: 0;
        text-align: center;
    }
}
.navlist {
    margin: 1% 0 0 0;
    padding: 10px 20px;

    &__link {
        display: inline;
        width: 100%;
        text-align: center;
        list-style: none;
        padding: 10px 20px;
    }

    &__links{ 
        text-decoration: none;
        color: #000;
        border:none;
        background: none;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    button.active {
        background-color: #2b6777;
    }
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 2px dotted #2b6777;
}

.information {
    width: 100%;

    &__heading {
        font-size: 1em;

        &::after {
            display: block;
            content: "";
            width: 5%;
            border: 1px solid #2b6777;
            margin-bottom: 1%;
        }
    }

    .timer {
        font-weight: bold;
    }
}

.footer {
    display: block;
    position: relative;
    bottom: 0;
    background-color: #267772;

    &__copyright {
        margin-bottom: 0;
        text-align: center;
    }
}